

.contenedores {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: lightgray;
  }
  
  .caja1 {
    height: 50px;
    width: 50px;
    background-color: red;
  }
  
  .caja2 {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    background-color: blue;
    z-index: 9999;
  }
  



  