body{
    background-color: #30363d;
    margin: 0;
}

header{
    width: 100vw;
    height: 85px;
    display: flex;
    background-color: #0a1617;
    display: flex;
    flex-direction: column;
}

nav{
    width: 100vw;
    height: 50%;
     display: flex;
}

#searchitem{
    width: 60%;
    height: 90%;

    
}
#searchitem input{
    width: 40%;
    height: 30px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid blanchedalmond;
    background-color: transparent;
    color: white;
}

#titulo img{
    width: 40px;
    margin: 5px;
}

/* main{
    padding: ;
} */
#content{
    display: flex;
    flex-direction: row;
}

.leftbar{
    width: 70px;
    padding: 8px 0;
border-right: 1px solid #e4e4dd62;
}
.leftbar ul{
    margin: 0;
    padding: 0;
}
.leftbar li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 5px;
    cursor: pointer;
}
.leftbar li > a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.leftbar li:hover{
    background: #e4e4dd62;
}

.logoicon{
    width: 40px;

}
















.descargable{
    height: 45px;
    width: 190px;
    border-radius: 0;
    
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;


    display: flex;
    align-items: center;
    justify-content: center;
}

.descargable:hover {
    background-color: #45a049;
  }
.descargable:active {
    background-color: #3e8e41;
  }

.descargable .txtdown{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.descargable .icon{
    width: 20%;
    height: 100%;

    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.descargable .icon:hover{
    background: white;
    color: #1c4936;
}
