body{
    background-color: #30363d;
    margin: 0;
}

header{
    width: 100vw;
    height: 90px;
    display: flex;
    /* background-color: #0a1617; */
    justify-content: center;

}

nav{
    /* background: orange; */
    width: 80vw;
    height: 50%;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 2px;
    border-radius: 20px;
    background: #e4e4dd06;

}

/* nav:hover{
    background: #e4e4dd06;
} */

#searchitem{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

#searchitem input{
    width: 40%;
    height: 30px;
    border-radius: 4px;
    padding-left: 8px;
    border: 1px solid blanchedalmond;
    background-color: transparent;
    color: white;
}

#titulo img{
    width: 40px;
    margin: 5px;
    border-radius: 50%;
}

/* main{
    padding: ;
} */

#content{
    display: flex;
    flex-direction: row;
}

.leftbar{
    width: 70px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.leftbar ul{
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100%;

    border-radius: 30px;
    background: #e4e4dd06;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: orange; */
}

.leftbar li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 5px;
    cursor: pointer;
}

.leftbar li > a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.leftbar li:hover{
    background: #e4e4dd32;
}

.logoicon{
    width: 30px;

}








.editbox{
    min-width: 10%;
    width: 80%;
    border-bottom: 1px solid #f0f0f018;
    color: white;
}

.editbox:hover{
    border-bottom: 1px solid #f0f0f0;
    cursor: text;
}

.editbox input{
    background: none;
    border: none;
}

.editbox input:focus{
    border: 1 solid transparent;
}







.descargable{
    height: 45px;
    width: 190px;
    border-radius: 0;
    
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;


    display: flex;
    align-items: center;
    justify-content: center;
}

.descargable:hover {
    background-color: #45a049;
  }
.descargable:active {
    background-color: #3e8e41;
  }

.descargable .txtdown{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.descargable .icon{
    width: 20%;
    height: 100%;

    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.descargable .icon:hover{
    background: white;
    color: #1c4936;
}























