.boxchord{
    display: flex;
    
}

.numero{
    height: 400px;
    padding:0 10px;
    color:  burlywood;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgba(223, 185, 136, 0.623);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0;
}
.contenedor{
    width: 300px;
    height: 400px;
    background: #444442;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid lightgray;
    position: relative;
}

.barra{
    background: white;
    height: 15px;
    
    margin: 0 8px;
    padding: 0;
    box-sizing: border-box;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

.barra p{
    margin: 0;
    background: none;
    text-align: center;
    /* color: lightgray; */
    font-size: 12px;
    height: 15px;
    
    -webkit-text-stroke: 1px burlywood;
    color: transparent; 
    
}

.trastes{
    /* background: blue; */
    height: 375px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.trastes .bar{
    background: #635F54 ;
    border: 1px solid #444442;
    box-shadow: 1px 5px 9px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 5px 9px -1px rgba(0,0,0,1);
    -moz-box-shadow: 1px 5px 9px -1px rgba(0,0,0,1);


    border-radius: 5px;
    height: 6px;
    /* margin: 45px 0; */
}

.cuerdas{
    margin-top: 16px;
    width: 300px;
    height: 378px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    
    padding: 0;
}

.cuerdas .cuerda{
    
    width: 5px;
    height: 385px;
    margin: 0;
    padding: 0;
    background: rgba(174, 174, 172,0.75);
    
    
}

.cuerdas .cuerda:nth-child(5){
    width: 4.1px;
}

.cuerdas .cuerda:nth-child(6){
    width: 3px;
}

.puntos{

    width: 300px;
    height: 378px;
    margin-top: 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}

.seccion{
    width: 300px;
    height: 50px;
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.point{
    margin-top: 10px;
    width: 33px;
    height: 33px;
    
    border-radius: 50%;
    
}


























